<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <meta charset="utf-8">
    <title>부릅</title>

    <!-- 공통 css, js-->
    <th:block th:replace="fragments/config :: configFragment"></th:block>

    <body>
        <div id="wrapper">
            <th:block th:replace="fragments/header :: headerFragment"></th:block>
            <th:block layout:fragment="content"></th:block>
        </div>
            <th:block th:replace="fragments/footer :: footerFragment"></th:block>
    </body>

</html>