<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <div class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></div>

            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">추천 도서</h1>
                <p class="mb-4">추천 도서를 확인해보세요</p>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            리스트
                        </div>
                        <button type="button" class="btn btn-info" onclick="goWrite()">등록하기</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        function goWrite() {
            location.href = 'write';
        }
    </script>
</th:block>
</html>