<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <div class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></div>

            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">test </h1>
                <p class="mb-4">테스트 페이지</p>

            </div>
        </div>
    </div>
</th:block>
</html>